@model IEnumerable<PartialViewExample.Models.DetailInfo>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
@Html.Hidden("NowPage", @ViewData["NowPage"])